/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    margin: 0;
}

body h3{
    text-align: center;
    font-weight: bold;
    margin: 0;
}

section {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.container p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    margin: 0;
}

.segment-title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding: 40px 0 0 0;
}

.box {
    padding: 50px 0 50px 0;
}

/* Splash */
.splash {
    height: 700px;
    position: relative;
    background-image: url('../images/splash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash p {
    color: orange;
    font-family: 'Send Flowers';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 0 200px;
}

.list-inline {
    margin: 40px 50px 0 0;
    text-align: center;
}

.splash ul li {
    list-style: none;
    display: inline;
  }

.splash ul li a {
    color: white;
    text-decoration: none;
    padding: 16px;
    text-align: center;
  }

  .splash-inner {
    position: absolute;
    width: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .splash-inner h2 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
  }

  .splash-inner h1 {
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }

  .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 40px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: orange;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 3s;
  }

  .btn:hover {
    background-position: 0 100%;
 
}

.btn-one {
    color: inherit;
    background-image: linear-gradient(90deg, black 50%, transparent 50%);
}

.btn-one:hover {
    color: orange;    
}

/* SERVICES */

.col-service h3 {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.services p {
    margin: 0 0 40px 0;
}

.col-service p {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    color: grey;
    margin: 0;
    font-style: normal;
}

.col-service i {
    color: orange;
    font-size: 40px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 40px 0;
}

/* portfolio */

.portfolio {
    background-color: rgb(233, 231, 231);
}

.card-image {
    height: 300px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 25px;
    margin: 0 0 40px 0;
}

/* Footer */

.footer {
    text-align: center;
}

.footer ul{
    padding: 0;
    list-style-type: none;
}

.footer ul li {
    
    display: inline;
  }

  .footer ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
  }

.social-media i {
    font-size: 20px;
    background: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}